@font-face {
    font-family: "Coolvetica";
    src: url("../../../font/coolvetica\ rg.ttf") format("truetype");
    font-weight: normal;
}

.template {
    max-width: 100vw !important;
    min-height: 100vh;
    position: relative;
}

.homeTexts {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    margin-left: 3rem;
    max-width: 100%;
    @media (min-width: 700px) {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        margin: 0;
    }
    h3 {
        letter-spacing: 2px;
        // font-size: 1rem;
        @media (min-width: 700px) {
            font-size: 2rem;
            letter-spacing: 5px;
        }
    }
    h1 {
        font-family: "Coolvetica";
        font-size: 6rem;
        margin: 2rem 0rem;
        font-weight: 700;
        line-height: 1.25;
        @media (min-width: 700px) {
            // width: 80%;
            font-size: 5.8rem;
            letter-spacing: 2px;
        }
    }
    .homeCta {
        color: white;
        @media (min-width: 700px) {
            font-size: 3rem;
        }
    }
    .homeAbout {
        font-size: 2rem;
        text-decoration: none;
        font-weight: 800;
        color: #00ffba;
        @media (min-width: 700px) {
            font-size: 2rem;
        }
    }
    .homeProjects {
        font-size: 2rem;
        text-decoration: none;
        font-weight: 800;
        color: #d62802;
        @media (min-width: 700px) {
            font-size: 2rem;
        }
    }
}

.square {
    position: absolute;
    right: 10%;
    top: 20%;
    width: 20px;
    height: 20px;
    border: 3px solid purple;
    animation: squareAnim;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    z-index: 100;
}
.circle {
    width: 20px;
    height: 20px;
    border: 3px solid #00ffba;
    border-radius: 50%;
    background: #00ffba;
    position: absolute;
    bottom: 10%;
    right: 30%;
    animation: circleAnim;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    z-index: 100;
    transition: 1s ease;
}
.triangle {
    position: absolute;
    top: 15%;
    left: 3%;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 30px solid #0062ff;
    border-bottom: 15px solid transparent;
    animation: triangle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    z-index: 100;
}
.bottomleft {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    z-index:1000;
    animation: botttomleft;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: 0.2s all;
    .smaller {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background: #0062ff;
        z-index: 1;
        animation: botttomleftsmaller;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}
.bigCircle {
    display: none;
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    border: 8px solid crimson;
    border-radius: 50%;
    bottom: 30%;
    left: 30%;
    animation: bigCircle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    @media (min-width: 700px) {
        display: block;
        position: absolute;
        width: 100px;
        height: 100px;
        border: 15px solid crimson;
        border-radius: 50%;
        bottom: 30%;
        left: 30%;
        animation: bigCircle;
        animation-duration: 5s;
        animation-iteration-count: infinite;
    }
    @media (max-width: 700px) {
        display: none;
    }
}
@keyframes circleAnim {
    0% {
        opacity: 1;
        transform: translateX(-40px);
    }
    50% {
        opacity: 0;
    }
    71% {
        opacity: 1;
        transform: translateX(40px);
    }
}
@keyframes botttomleftsmaller {
    from {
        background: #0062ff;
    }
    to {
        background: #f50057;
    }
}
@keyframes squareAnim {
    0% {
        display: block;
    }
    50% {
        transform: rotate(65deg);
    }
    90% {
        opacity: 0;
    }
}
@keyframes triangle {
    0% {
        display: block;
    }
    50% {
        transform: rotate(65deg);
    }
    90% {
        opacity: 0;
    }
}
@keyframes bigCircle {
    0% {
    }
    25% {
        transform: translateX(-50px);
    }
    50% {
        transform: translateY(-70px);
    }
}
@keyframes botttomleft {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-30px);
    }
}


// ABOUT
#about{
    min-height: 100vh;
}
.head {
    font-family: "Coolvetica";
    font-size: 4rem;
    margin: 2rem 0rem;
    font-weight: 700;
    line-height: 1.25;
    @media (min-width: 700px) {
        // width: 80%;
        font-size: 5.8rem;
        letter-spacing: 2px;
    }
}

.light{
    background: #f7f4f4;
    color: #141414;
}
.dark{
    background: #141414;
    color: #f4f4f4;
}

// project

#project{
    min-height: 100vh;
}

section{
    // min-height: 100vh;
}